[submodule "Amogh/A1"]
	path = Amogh/A1
	url = https://github.com/solaxien/A1.git
[submodule "Amogh/A2"]
	path = Amogh/A2
	url = https://github.com/solaxien/A2.git
[submodule "Amogh/A3"]
	path = Amogh/A3
	url = https://github.com/solaxien/A3.git
[submodule "Amogh/A4"]
	path = Amogh/A4
	url = https://github.com/solaxien/A4.git
[submodule "NewFolder1/ConsoleApp1"]
	path = NewFolder1/ConsoleApp1
	url = https://github.com/Dikshith334/Dikshith-app1.git
[submodule "NewFolder1/ConsoleApp2"]
	path = NewFolder1/ConsoleApp2
	url = https://github.com/Dikshith334/Dikshith-app2.git
[submodule "NewFolder2/ConsoleApp3"]
	path = NewFolder2/ConsoleApp3
	url = https://github.com/Dikshith334/Dikshith-app3.git
[submodule "NewFolder2/ConsoleApp4"]
	path = NewFolder2/ConsoleApp4
	url = https://github.com/Dikshith334/Dikshith-app4.git
[submodule "Amit/WebApp1"]
	path = Amit/WebApp1
	url = https://github.com/Amitnaik003/WebApp1.git
[submodule "Amit/WebApp2"]
	path = Amit/WebApp2
	url = https://github.com/Amitnaik003/Webapp2.git
[submodule "Amit/WebApp3"]
	path = Amit/WebApp3
	url = https://github.com/Amitnaik003/Webapp3.git
[submodule "Amit/WebApp4"]
	path = Amit/WebApp4
	url = https://github.com/Amitnaik003/Webapp4.git
